<section id="projects">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <img class="section-icon" *ngIf="content.icon" src="{{apiBaseUrl}}{{content.icon.url}}"
             alt="{{content.title}}">
      </div>
    </div>
    <h2 class="section-title">{{content.title}}</h2>
    <div class="row justify-content-between">
      <div class="col-md-2 text-center project-col"
           *ngFor="let project of projects">
        <div class="project" (click)="openProject(project)">
          <img *ngIf="project.logo" class="img-fluid" src="{{apiBaseUrl}}{{project.logo.url}}"
               alt="{{project.title}} logo">
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-6" style="height: 500px" [ngStyle]="{'background': 'url(../../../assets/mockup1.jpg) no-repeat left center'}">
      </div>
      <div class="col-6" style="height: 500px" [ngStyle]="{'background': 'url(../../../assets/mockup2.jpg) no-repeat left center'}">
      </div>
    </div>
  </div>
</section>
