@import "../../../styles/variables";

#projects {

  .project-col {
    padding: 15px 30px;
    .project {
      height: 100%;
      padding: 30px;
      cursor: pointer;
      background-color: $white;
      border-radius: 5px;
      transition: transform 0.2s ease, box-shadow 0.2s ease;
      will-change: transform, box-shadow;
      box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.15);

      &:hover {
        transform: translateY(-5px) translateZ(0);
        box-shadow: 0 16px 32px 0 rgba(62, 57, 107, 0.28), 0 0 0 transparent;
      }

      @media (max-width: 768px) {
        max-height: 275px;
        max-width: 275px;
        margin: 0 auto
      }
    }
  }
}
