<section id="projects">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <img class="section-icon" *ngIf="content.icon" src="{{apiBaseUrl}}{{content.icon.url}}"
             alt="{{content.title}}">
      </div>
    </div>
    <h2 class="section-title">{{content.title}}</h2>
    <div class="row justify-content-center">
      <div class="col-md-2 col-4 text-center project-col"
           *ngFor="let project of projects">
        <div class="project" (click)="openProject(project)">
          <img *ngIf="project.logo" class="img-fluid" src="{{apiBaseUrl}}{{project.logo.url}}"
               alt="{{project.title}} logo">
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid" style="padding: 0">
    <div class="row">
      <div class="col-md-6 project-image">
        <img class="img-fluid" src="../../../assets/mockup1.jpg">
      </div>
      <div class="col-md-6 project-image">
        <img class="img-fluid" src="../../../assets/mockup2.jpg">
      </div>
    </div>
  </div>
</section>
