@import "../../../styles/variables";

header {
  height: 800px;
  padding: 120px 0;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  background: url("../../../assets/isometric_header.svg") no-repeat center;
  background-size: cover;

  h1 {
    color: $white;
  }

  h3 {
    color: #45a7de;
  }

  app-services {
    flex: 1 0 100%;
  }

  #header-arrow-down {
    position: absolute;
    bottom: 20px;
    width: 40px;
    left: calc(50% - 20px);
  }



  @media (max-width: 1200px) {
    h1 {
      font-size: 33px;
    }

    h3 {
      font-size: 23px;
    }
  }

  @media (max-width: 991px) {
    h1 {
      font-size: 25px;
    }

    h3 {
      font-size: 18px;
    }
  }

  @media (max-width: 768px) {
    background: url("../../../assets/isometric_header_mobile.svg") no-repeat center;
    background-size: cover;
    align-items: normal;
    align-content: normal;
    text-align: center;
  }

}
