$black: #3e396b;

$primary-blue: #3369e7;
$primary-light-blue: #00aeff;

$success-green: #1cc7d0;
$success-light-green: #2dde98;

$blue: #8994c6;

$white: white;
$gray: #f6f8ff;

$light-1: #f6f7fc;
$light-2: #bbc3df;


$yellow: #ffca28;
$red: #ef5350;
$green: #9ccc65;
