<div id="cookie-notice" *ngIf="!cookiesAccepted">
  <div class="container">
    På denne siden brukes informasjonskapsler til å få statistikk over bruk av sidene våre og for å gi ekstra
    funksjonalitet til deg. Vi kan også bruke informasjonskapsler i forbindelse med markedsføring av våre produkter og tjenester.
    Ved
    å fortsette å bruke siden bekrefter du at du godtar dette.

    <div id="cookie-notice-buttons-container">
      <button type="button" class="btn btn-primary" (click)="acceptCookies()">Jeg samtykker</button>
      <a [routerLink]="['/personvern']" class="btn btn-secondary">Les mer</a>
    </div>
  </div>
</div>
