<app-navigation></app-navigation>

<main *ngIf="sections" id="home">

  <app-header [content]="sections[0]" [textAlign]="'center'" [headerUrl]="apiBaseUrl + '/uploads/8f7a9ff4d6f842239ce4269dedba209a.svg'" [services]="services"></app-header>

  <app-projects [content]="sections[1]" [projects]="projects" *ngIf="projects"></app-projects>

  <app-testimonials [content]="sections[2]"></app-testimonials>

  <app-about [content]="sections[3]"></app-about>

  <app-contact-us [content]="sections[4]"></app-contact-us>

  <!--<app-articles [articles]="articles" *ngIf="articles"></app-articles>-->

</main>

<app-footer></app-footer>


<app-cookie-notice></app-cookie-notice>
