@import "../../../styles/variables";

#about-us {

  #about-row {
    margin-bottom: 30px;
  }

  .employee {
    img {
      border-radius: 5px;
      border: 1px solid #eeeeee;
      max-width: 200px;
    }

    h6 {
      margin: 10px 0 5px 0;
    }
  }
}
