<app-navigation [hideLinks]="true"></app-navigation>

<div class="container" style="padding: 40px 0">
  <div class="row justify-content-center">
    <div class="col-lg-7 col-md-8">
      <h1 class="text-center">Personvern og informasjonskapsler</h1>

      <h2>1. Personopplysninger</h2>
      <p>Når du ber om at vi skal kontakte deg, ber vi om personopplysninger fra deg.
      <p>Vi ber om:</p>
      <ul>
        <li>Navn</li>
        <li>Telefonnummer</li>
        <li>E-post</li>
      </ul>

      <p>Vi behandler personopplysningene
        forsvarlig og i samsvar med personvernloven.</p>

      <p>Adano kan bruke dine personopplysninger for å kontakte deg. Vi videreformidler ikke
        personopplysninger
        til andre parter.</p>

      <h2>2. Informasjonskapsler</h2>
      <p>Informasjonskapsler, også kalt cookies, kan være nyttig både for eieren og brukeren av en nettside. Eieren kan
        tilpasse tjenesten ut fra informasjonen som lagres, for å sikre god brukervennlighet. De fleste nettlesere er
        satt
        opp
        til å akseptere informasjonskapsler, men man kan selv velge å endre innstillingene slik at informasjonskapsler
        ikke
        blir akseptert. Vi gjør oppmerksom på at svært mange nettsider ikke vil fungere optimalt om man ikke aksepterer
        informasjonskapsler.</p>

      <p>Adano benytter informasjonskapsler med følgende verktøy:</p>

      <h4>Google Analytics</h4>
      <p>Google Analytics er en nettanalysetjeneste som leveres av Google, Inc. ("Google"). Google Analytics bruker
        cookies for å analysere hvordan brukere benytter nettstedet. Informasjonen som genereres av en slik cookie
        ved
        bruk av det aktuelle nettstedet, inkludert din IP-adresse, sendes til Google og lagres på servere i USA. Vi
        bruker
        anonymizeIP, en funksjon som gjør at en enkeltbruker ikke kan identifiseres. Google bruker denne
        informasjonen
        for
        å vurdere bruken av nettstedet, sammenstille rapporter om aktiviteter på nettstedet for eieren av
        nettstedet,
        samt
        for å yte andre tjenester i tilknytning til aktiviteter på nettstedet og bruk av Internett.</p>

      <p>Google kan også overføre denne informasjonen til tredjeparter hvis dette kreves iht. lov eller i tilfeller
        hvor
        tredjeparter behandler informasjonen på vegne av Google. Google vil ikke koble din IP-adresse med annen
        informasjon Google har.</p>

      <p>Adano bruker Google Analytics for å analysere bruken av sine nettsider. Vi får informasjon om
        hvilke
        sider som er mest besøkt, hvor brukerne kommer fra, på hvilke tidspunkter sidene er mest besøkt, hvordan
        brukeren
        beveger seg på siden osv.</p>

      <h4>Google Tag Manager</h4>
      <p>Google Tag Manager bruker informasjonskapsler til styring og implementering av script.</p>
      <p>Google Tag Manager er en tjeneste som lar vår digitale leverandør organisere script enkelt på våre nettsider.
        For eksempel håndterer vi Google Analytics script gjennom Google Tag Manager.</p>

      <h4>Google AdWords</h4>
      <p>Adano bruker informasjonskapsler fra Google for å kunne gi våre brukere/kunder relevant markedsføring og en
        god brukeropplevelse.</p>

      <p>Vi bruker funksjonen Konverteringssporing når noen ber om å bli kontaktet
        via våre nettsider. Dette gjøres for at vi skal vite hvor mange nye prospekter som kommer inn i vårt system via
        vårt nettsted. Denne informasjonskapselen varer i 30 dager, og ingen personlig identifiserende informasjon blir
        samlet
        inn eller sporet.</p>

      <p><a href="https://policies.google.com/privacy">Se Googles personvernserklæring</a></p>

      <h4>Hotjar</h4>
      <p>Hotjar analyserer bruksmønstre på adano.no. Informasjonen om en brukers atferd, inkludert
        IP-adresse,
        sendes til Hotjar og lagres på servere i Irland. Hotjar anonymiserer IP-adresser slik at enkeltbrukere ikke
        kan
        identifiseres.</p>


      <p><a href="https://www.hotjar.com/legal/policies/privacy">Se Hotjars personvernerklæring</a></p>

      <h4>Mixpanel</h4>
      <p>Mixpanel tilbyr analyser av brukerflyt, som kan brukes for å gjøre nettsiden bedre. All data er anonymisert og
        brukes kun
        kvanitativt.</p>

      <p><a href="https://mixpanel.com/legal/privacy-policy/">Se Mixpanels personvernerklæring</a></p>

      <h4>Tawk.to</h4>
      <p>På nettsiden bruker vi en chattefunskjon fra Tawk.to Når du chatter med oss blir meldingene/chat lagret i en
        meldingsboks med detaljene du valgte å gi oss. Din ip-adresse blir anonymisert automatisk. Når du chatter kan vi
        se hvilken side du er på nettstedet i sanntid. Dette blir ikke lagret etterpå.</p>

      <p><a href="https://www.tawk.to/privacy-policy/">Se Tawks personvernerklæring</a></p>


      <h2>3. Ansvarlig databehandler</h2>
      <p>Det er daglig leder i Adano som har ansvaret for personopplysninger som samles inn. Vedkommende er
        ansvarlig for at det gjennomføres internkontroller, og at eventuelle avvik fra retningslinjer og lovverk meldes
        inn og
        rettes.</p>

      <p>Har du spørsmål, kontakt oss på <a
        href="mailto:mbrandhaug@adano.no">mbrandhaug@adano.no</a> eller <a
        href="tel:+4792627081">926
        27 081.</a></p>
    </div>
  </div>
</div>
