<footer>
  <div class="container">
    <section id="contact-info">
      <div id="contact-row" class="row justify-content-center">
        <div class="col-lg-3 text-center contact-col">
          <i class="fa fa-envelope"></i>
          <span class="contact-info"><a
            href="mailto:mbrandhaug@adano.no">mbrandhaug@adano.no</a></span>
        </div>
        <div class="col-lg-3 text-center contact-col">
          <i class="fa fa-phone"></i>
          <span class="contact-info"><a href="tel:+4792627081">+47 926 27 081</a></span>
        </div>
        <div class="col-lg-3 text-center contact-col">
          <i class="fa fa-map-marker"></i>
          <span class="contact-info">Thorvald Meyers gate 14,<br>0555 OSLO</span>
        </div>
      </div>
    </section>

    <div id="logo-row" class="text-center">
    <img id="logo" src="../../../assets/logo.svg" height="80" alt="Logo">
    </div>

    <div class="privacy">
      <a [routerLink]="['/personvern']">Personvern og informasjonskapsler</a>
    </div>
    <div class="copyright">&copy; Alle rettigheter reservert - Adano</div>
  </div>
</footer>
