@import "../../../styles/variables";

#testimonials {
  .section-title {
    margin-bottom: 95px;
  }

  .testimonial {
    margin-top: 30px;
    background-color: white;
    border-radius: 10px;
    position: relative;
    padding: 90px 30px 30px 30px;
    overflow: visible;
    height: auto;
    box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.2);

    .testimonial-img {
      border-radius: 50%;
      max-height: 150px;
      margin-bottom: 10px;
      position: absolute;
      top: -75px;
      left: calc(50% - 75px);
      border: 3px solid white;
    }

    .testimonial-name {
      font-weight: bold;
    }

    .quote-icon {
      height: 25px;
      margin: 10px;
    }

    .testimonial-body p {
      margin-bottom: 5px;
      padding: 0 30px;
      color: $blue;
    }

    @media (max-width: 768px) {
      margin-bottom: 20px;
    }
  }
}
