@import "../../../styles/variables";

#testimonials {
  .testimonial {
    margin-top: 30px;

    img {
      border-radius: 50%;
      max-height: 150px;
      margin-bottom: 10px;
    }

    .rating {
      letter-spacing: 3px;
      color: $yellow;
      display: block;
      font-size: 20px;
      margin-bottom: 5px;
    }

    p {
      margin-bottom: 5px;
      padding: 0 30px;
    }

    h6 {
      margin: 0;
    }

    @media (max-width: 768px) {
      margin-bottom: 20px;
    }
  }
}

swiper {
  height: 400px;

  @media (max-width: 520px) {
    height: 450px;
  }

  @media (max-width: 323px) {
    height: 500px;
  }
}

.swiper-button-prev {
  background-image: url("../../../assets/arrow-left.svg") !important;
}

.swiper-button-next {
  background-image: url("../../../assets/arrow-right.svg") !important;

}

.swiper-button-prev, .swiper-button-next {
  height: 30px;

  @media (max-width: 768px) {
    height: 15px;
  }
}
