<section id="testimonials"
         [ngStyle]="{'background': 'url(' + apiBaseUrl + '/uploads/8f7a9ff4d6f842239ce4269dedba209a.svg) no-repeat left center'}">

  <div class="container-fluid">
    <div class="row">
      <div class="col text-center">
        <img *ngIf="content.icon" src="{{apiBaseUrl}}{{content.icon.url}}" alt="{{content.title}}"
             class="section-icon">
      </div>
    </div>
    <h2 class="section-title">{{content.title}}</h2>
    <swiper [config]="config">
      <div class="testimonial text-center" *ngFor="let testimonial of testimonials">
        <img class="testimonial-img" *ngIf="testimonial.image" src="{{apiBaseUrl}}{{testimonial.image.url}}"
             alt="{{testimonial.name}}">
        <div class="testimonial-name">{{testimonial.name}}</div>
        <div class="testimonial-company">{{testimonial.company}}</div>
        <img class="quote-icon" src="../../../assets/left-quote.svg">
        <markdown class="testimonial-body" [data]="testimonial.body"></markdown>
      </div>
    </swiper>
  </div>
</section>
